---
---

<nav
  class="fixed top-0 left-0 z-10 w-screen h-16 navbar bg-white flex items-center justify-between px-6 shadow-lg"
>
  <h1 class="text-lg font-bold">
    Robotics Is For <span class="text-gradient">Everyone</span>
  </h1>
</nav>
